server:
  port: 5555

spring:
  application:
    name: micro-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true # ← Debe estar en true
          lower-case-service-id: true # ← Importante para minúsculas

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: false
    hostname: localhost

management:
  endpoints:
    web:
      exposure:
        include: health,info,gateway
  endpoint:
    gateway:
      access: UNRESTRICTED

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
